<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="com.master.eclipsebukkit.BukkitNature"
         name="Bukkit Plugin"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.master.eclipsebukkit.BukkitNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.master.eclipsebukkit.bukkit"
            name="%category.name.0">
      </category>
      <wizard
            category="com.master.eclipsebukkit.bukkit"
            class="com.master.eclipsebukkit.BukkitProjectWizard"
            icon="icons/bukkit.ico"
            id="com.master.eclipsebukkit.bukkitprojectwizard"
            name="%wizard.name">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/bukkit.ico"
            id="com.master.eclipsebukkit.bukkitNatureImage"
            natureId="com.master.eclipsebukkit.BukkitNature">
      </image>
   </extension>

</plugin>
