<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.master.eclipsebukkit.category"
            name="%category.name">
      </category>
      <view
            category="com.master.eclipsebukkit.category"
            class="com.master.eclipsebukkit.ServerView"
            icon="icons/bukkit.ico"
            id="com.master.eclipsebukkit.serverview"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.master.eclipsebukkit.BukkitNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.master.eclipsebukkit.bukkit"
            name="%category.name.0">
      </category>
      <wizard
            category="com.master.eclipsebukkit.bukkit"
            class="com.master.eclipsebukkit.BukkitProjectWizard"
            icon="icons/bukkit.ico"
            id="com.master.eclipsebukkit.bukkitprojectwizard"
            name="%wizard.name">
      </wizard>
      <wizard
            category="com.master.eclipsebukkit.bukkit"
            class="com.master.eclipsebukkit.NewServerWizard"
            icon="icons/server.png"
            id="com.master.eclipsebukkit.serverwizard"
            name="Bukkit Server">
      </wizard>
   </extension>

</plugin>
